*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: rgb(6, 3, 93);
}
.app{
    width: 90%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    background-color: white;
}
.app h1{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.596);
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.451);
    font-weight: 600;
}
.btn{
    width: 100%;
    background-color: white;
    text-align: left;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 ;
}
.btn:disabled{
    cursor: no-drop;
}
.btn:hover:not([disabled]){
    background-color: black;
    color: white;
}
.next-button{
    width: 150px;
    background-color: rgb(2, 8, 82);
    color: white;
    font-weight: 500;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
